{% load staticfiles %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link type="text/css" href="{% static 'css/echosite.css'%}" rel="stylesheet"/>
<link rel = 'stylesheet' href = "{% static 'css/main.css'%}">
<link href = "{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
<link href = "{% static 'css/starter-template.css'%}" rel="stylesheet">
<title>HOME PAGE</title>
</head>

<body style="background-color:#FFFFCC";>
<nav class="navbar mt-0 navbar-light bg-light">
<div class="style1"> 
<div align="center">
<h2 class="style2"><p><p class="style3">ESSENTIAL CARE &amp; HOPE FOR ORPHANS AND VULNERABLE CHILDREN OF AFRICA <br>
(ECHO-A)</h2>
<div class="center" id="menu">
	<ul>
		<li><a href="{% url 'home' %}">HOME</a></li>
		<li><a href="service.html">SERVICES</a></li>
		<li><a href="project.html">PROJECTS</a></li>
		<li><a href="{% url 'about' %}">ABOUT US</a></li>
		<li><a href="{% url 'contact'%}">CONTACT</a></li>
		<li><a href="{% url 'login' %}">login</a></li>
	</ul>
</div>
</div>
</div>
</div>
</nav>
<div class=" carosuel-image row">
<div class="col-12">
<div class="card bg-dark text-white circular mt-5 " width="600" height="450">
<img src="{% static "img/youth.jpg" %}" class="card-img" alt="...">
<div class="card-img-overlay">
<h5 class="card-title">COMPANY'S IDENTITY</h5>
<p class="card-text">ECHO-A Is a fully Registered National Company. Registration Number
	<br>80020000063899; Certificate Number BRS-INCC-8-17/39068(under section 18/(3) of the company's act. </p>
<p class="card-text">Last updated 3 mins ago</p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-4">
<div class="card ml-5 mb-3 mt-5" style="max-width: 540px;">
		<div class="row no-gutters">
			<div class="col-md-4">
				<img src="{% static "img/vulnerable.jpg" %}" alt="vulnerable children"  width="300" height="235" class="card-img" >
			</div>
			<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Vulnerable</h5>
				<p class="card-text">VC- Vulnerable children whose parents can not provide basics needs for life.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
			</div>
		</div>
		</div>
</div>
<div class="col-4">
<div class="card ml-5 mb-3 mt-5" style="max-width: 540px;">
		<div class="row no-gutters">
			<div class="col-md-4">
			<img src="{% static "img/education.jpg" %}" alt="education" width="300" height="235" class="card-img" alt="...">
			</div>
			<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Education</h5>
				<p class="card-text">Child Education </p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
			</div>
		</div>
		</div>
</div>
<div class="col-4">
<div class="card ml-5 mb-3 mt-5" style="max-width: 540px;">
		<div class="row no-gutters">
			<div class="col-md-4">
			<img src="{% static "img/orphan.jpg" %}" width="600" height="235" class="card-img" alt="...">
			</div>
			<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Orphan</h5>
				<p class="card-text">Orphans- Children with no parents but have a guardian</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
			</div>
		</div>
		</div>
</div>
</div>


<div class="row mt-3">
<div class="col-4">
<div class="card ml-5 mb-3" style="max-width: 540px;">
		<div class="row no-gutters">
			<div class="col-md-4">
				<img src="{% static "img/care.jpg" %}" alt="care"  width="300" height="235" class="card-img" >
			</div>
			<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Care</h5>
				<p class="card-text">Parental child care.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
			</div>
		</div>
		</div>
</div>
<div class="col-4">
<div class="card ml-5 mb-3" style="max-width: 540px;">
		<div class="row no-gutters">
			<div class="col-md-4">
			<img src="{% static "img/youth.jpg" %}" alt="youth" width="300" height="235" class="card-img" alt="...">
			</div>
			<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Youth</h5>
				<p class="card-text">Y- Youths Aged between 18 to 35 years</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
			</div>
		</div>
		</div>
</div>
<div class="col-4">
<div class="card ml-5 mb-3" style="max-width: 540px;">
	<div class="row no-gutters">
		<div class="col-md-4">
		<img src="{% static "img/dev2.jpg" %}" width="300" height="235" class="card-img" alt="...">
		</div>
		<div class="col-md-8">
		<div class="card-body">
			<h5 class="card-title">Upbringing</h5>
			<p class="card-text">Good child upbringing </p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		</div>
		</div>
	</div>
</div>
</div>
<div class="col-4">
<div class="card ml-5 mb-3" style="max-width: 540px;">
	<div class="row no-gutters">
		<div class="col-md-4">
		<img src="{% static "img/dev.jpg" %}" width="300" height="235" class="card-img" alt="...">
		</div>
		<div class="col-md-8">
		<div class="card-body">
			<h5 class="card-title">Child Development</h5>
			<p class="card-text">Good child upbringing </p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</body>
</html>


